 <tr>
          <td colspan="2"> <%= Product.find(product_id).name %> </td>
          <td><%= Product.find(product_id).price %> </td>
          <td><%= quantity %></td>
          <td><%= total_line_price %></td>
        </tr>
      