<h1>About Us</h1>
<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <p>
        Looking for a way to greenery to your home? Then this is the best online plant shop for you! We have unbeatable prices! 
      </p>
      <p>
        At our plant shop, we sell the highest quality plants and flowers. Our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant. Plus, ordering is quick and easy! We offer free shipping on all orders over $50!
      </p>
      <p>
        We have a wide variety of plants and flowers available for purchase on our website.
      </p>
    </div>
  </header>
</section>